body {
    width: 100%;
    min-width: 320px;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    padding-top: 55px;
    font-size: 100%;
}

/* Global */
.container {
    width: 80%;
}
img {
    width: 100%;
}
hr {
    border-color: #8060ff;
}
a,
a:hover,
a:active,
a:visited,
a:focus {
    text-decoration: none;
    color: darkblue;
}
/*@media (max-width: 511px) {
    .container {
        width: 100%;
    }
}*/

/* Header */
.navbar {
    /*min-width: 640px;*/
    /*margin-bottom: 0;*/
    /*border-radius: 0;*/
    background-color: #000;
    color: #fff;
    letter-spacing: .25px;
    padding: 10px 20px;
    border-bottom: #8000ff 3px solid;
}
/*.navbar-nav {
    margin: 0;
}*/
header h1 {
    color: #f0f;
    margin-top: -10px;
}
header h1 .highlight {
    color: #ff8000;
}
header ul {
    text-align: center;
}
.navbar .nav li {
    display: inline-flex;
    /*padding-top: 10px;*/
    overflow: hidden;
    text-transform: uppercase;
    font-size: 150%;
}
.navbar .nav li a {
    background-color: #000;
    color: #fff;
}
.navbar .nav li a:focus,
.navbar .nav li a:hover {
    color: #ff8000 !important;
}
.navbar .nav .active a {
    background-color: #000;
    color: #ff8000;
}
.navbar-right {
    padding-top: 7.5px;
    margin-bottom: -7.5px;
}
@media (max-width: 992px) {
    .nav li a {
        padding: 15px 10px;
    }
}
@media (max-width: 892px) {
    .navbar .nav li {
        font-size: 125%;
    }
    .nav li a {
        padding: 15px 5px;
    }
}
@media (max-width: 767px) {
    .navbar {
        letter-spacing: 0px;
    }
    .navbar .nav li {
        font-size: 150%;
    }
    .nav li a {
        padding: 15px;
    }
    .navbar-right {
        margin: 0px;
    }
}
@media (max-width: 692px) {
    .nav li a {
        padding: 15px 10px;
    }
}
@media (max-width: 592px) {
    .navbar {
        padding: 10px 0px;
    }
    .navbar .nav li {
        font-size: 125%;
    }
}
@media (max-width: 492px) {
    .nav li a {
        padding: 15px 3.5px;
    }
}

/* About */
#about {
    background-color: #ff8000;
    color: #000;
    font-size: 150%;
    letter-spacing: .25px;
    /*text-align: justify;*/
    /*padding: 30px 0px;*/
}
#photo img {
    /*padding: 3em 0 1em;*/
    border-radius: 34% 17%;
    max-width: 300px;
    display: block;
    margin: auto;
}
@media (min-width: 768px) {
    #about {
        padding: 5em 0;
    }
    #bio {
        float: left;
        width: 55%;
        padding-top: 2em;
    }
    #photo {
        float: right;
        width: 35%;
    }
    #photo img {
        border-radius: 34% 17%;
        width: 100%;
        min-width: 16em;
        margin: auto;
        padding: 0;
    }
}
@media (min-width: 992px) {
    #about {
        padding: 7em 0;
    }
    #bio {
        width: 60%;
        padding-top: 3em;
    }
    #photo {
        width: 30%;
    }
    #photo img {
        min-width: 18em;
    }
}

/* Websites */
#websites {
    background-color: #000;
    color: #fff;
    padding: 4.5em 0 7.5em;
    text-align: justify;
    font-size: 1.2em;
    padding: 3em 0;
}
#websites h1 {
    color: #8000ff;
    text-align: center;
    letter-spacing: 3px;
}
#websites img {
    padding: 3em 0 1em;
    /*max-width: 16em;*/
    display: block;
    margin: auto;
}

/* Posters */
#posters {
    background-color: #000;
    padding: 4.5em 0 7.5em;
}
#posters img {
    margin: 2em auto;
    border: #8000ff 1px solid;
    max-width: 35em;
    display: block;
}
@media (min-width: 768px) {
    #posters .container {
        width: 90%;
    }
    #posters img {
        max-width: initial;
    }
}
@media (min-width: 992px) {
    #posters {
        padding: 8em 0;
    }
    #posters .container {
        width: 80%;
    }
}

/* Contact */
#contact {
    background-image: url('Images/Contact background.jpg');
    background-size: cover;
    background-position: center center;
    text-align: center;
    font-weight: bold;
    padding: 3em 0;
}
#contact h1 {
    color: #ff8000;
    letter-spacing: 5px;
}
#contact form {
    margin: 5em auto;
}
#contact input {
    width: 100%;
    max-width: 32em;
    height: 3.5em;
    padding: 1em;
    background-color: transparent;
    color: #f2f2f2;
    outline: none;
    border: #8000ff 1px solid;
    margin-bottom: -1px;
}
#contact textarea {
    width: 100%;
    max-width: 32em;
    height: 10em;
    padding: 1em;
    background-color: transparent;
    color: #f2f2f2;
    outline: none;
    border: #8000ff 1px solid;
}
#contact button {
    width: 100%;
    max-width: 32em;
    height: 3.5em;
    margin-top: -6px;
    background-color: transparent;
    color: #ff8000;
    outline: none;
    border: #8000ff 1px solid;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}
#contact input::placeholder,
#contact textarea::placeholder {
    color: #ff8000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}
#contact input:hover,
#contact textarea:hover,
#contact button:hover,
#contact input:focus,
#contact textarea:focus,
#contact button:focus {
    background-color: #000;
    transition: .5s;
}
#contact button:hover {
    letter-spacing: 2em;
    text-indent: 2em;
}
@media (min-width: 768px) {
    #contact input {
        width: 80%;
        max-width: 37em;
    }
    #contact textarea {
        width: 80%;
        max-width: 37em;
    }
    #contact button {
        width: 80%;
        max-width: 37em;
    }
    #contact h1,
    #contact input::placeholder,
    #contact textarea::placeholder,
    #contact button {
        color: #f0f;
    }
}
@media (min-width: 992px) {
    #contact input {
        width: 69%;
        max-width: 50em;
    }
    #contact textarea {
        width: 69%;
        max-width: 50em;
    }
    #contact button {
        width: 69%;
        max-width: 50em;
    }
}

/* Social Media */
#social-media {
    position: fixed;
    top: 11em;
    left: -1.3em;
}
#social-media a {
    display: block;
    font-size: 2em;
    color: #fff;
    text-decoration: none;
    padding: 0.4em 1.2em 0.4em 0.4em;
    margin-left: -0.2em;
    width: 1.5em;
}
.fa-facebook,
.fa-phone {
    background-color: #8000ff;
}
.fa-instagram {
    background-color: #f0f;
}
.fa-linkedin {
    background-color: #ff8000;
}
#social-media a:hover {
    font-size: 3em;
    transition: .3s;
}

/* Footer */
footer {
    background-color: #000;
    padding: 1.5em;
    text-align: center;
    color: #f2f2f2;
    border-top: #8000ff 3px solid;
}
