/* Global */
@media only screen and (min-width: 768px) {
    hr {
        width: 95%;
        /*float: left;*/
    }
}
@media only screen and (min-width: 992px) {
    section {
        min-height: 650px;
    }
}
@media only screen and (min-width: 1333px) {
	section {
        min-height: 980px;
    }
}

/* Header */
@media only screen and (min-width: 411px) {
    .navbar {
		margin: 0px -2.5px;
	}
    .navbar .nav li {
        font-size: 125%;
    }
    .navbar .nav li a {
    	padding: 5px;
    }
}
@media only screen and (min-width: 568px) {
    .navbar {
        padding: 0px 10px;
        margin: 0px;
    }
    .navbar .nav li {
        font-size: 160%;
    }
    .navbar .nav li a {
        padding: 5px 10px;
    }
}
@media only screen and (min-width: 768px) {
    .navbar {
        padding: 10px;
    }
    .navbar-nav {
    	padding-top: 17px;
    }
    .navbar .nav li {
        font-size: 135%;
    }
}
@media only screen and (min-width: 992px) {
	.navbar {
        padding: 10px 30px;
    }
    .navbar .nav li {
        font-size: 170%;
    }
}
@media only screen and (min-width: 1300px) {
	.navbar {
		padding: 10px 42px;
	}
	.navbar .nav li {
        font-size: 200%;
    }
}

/* About */
@media only screen and (min-width: 768px) {
    #about {
        padding: 0px;
        /* min-height: 620px; */
    }
    #about .left-box {
        float: left;
        width: 70%;
        margin-left: -5%;
        padding-right: 5%;
        line-height: 605px;

        /*border: 1px solid red;*/
    }
    #about article {
    	line-height: 22px;
	    display: inline-block;
	    vertical-align: middle;
    }
    #about .right-box {
    	float: right;
        width: 50%;
        margin: 0% -10%;
        line-height: 600px;
    	text-align: center;

    	/*border: 1px solid red;*/
    }
    #about aside {
    	line-height: 22px;
	    display: inline-block;
	    vertical-align: middle;
    }
    #about img {
    	padding-top: 0px;
        border-radius: 34% 17%;
    }
}
@media only screen and (min-width: 1300px) {
	#about .left-box {
        width: 60%;
        margin-left: 0%;
        padding-right: 0%;
        font-size: 110%;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    #about .right-box {
        width: 40%;
        margin: 0% -5%;
    }
}

/* Websites */
@media only screen and (min-width: 992px) {
    #websites {
        padding: 40px 0px;
    }
    .website {
        padding: 20px 0px;
    }
}

/* Posters */
@media (min-width: 768px) {
    #posters .container {
        width: 80%;
    }
    #posters img {
        max-width: initial;
    }
}
/*@media (min-width: 992px) {
    #posters {
        padding: 80px 0px;
    }
}*/

/* Contact me */
@media (min-width: 768px) {
    #contact input,
    #contact textarea,
    #contact button {
        width: 80%;
        max-width: 370px;
    }
    #contact h1,
    #contact input::placeholder,
    #contact textarea::placeholder,
    #contact button {
        color: #f0f;
    }
}
@media (min-width: 992px) {
    #contact {
        /* min-height: initial; */
    }
    #contact input,
    #contact textarea,
    #contact button {
        width: 69%;
        max-width: 500px;
    }
}